@import url('../../assets/css/color.css');

.container {
  background-color: rgba(255, 255, 255,0.3);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 10;
}
.container nav {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 20px;
  list-style-type: none;
}

