#divEquipe{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

#divEquipe>h2{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #333;
}

#imgEquipe{
    display: flex;
    gap: 2px;
}

#imgEquipe>img{
    width: 70px;
}