@import url('../../assets/css/color.css');

#containerFooter{
    background-color: var(--color-background2);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#txtLogo, #txtDireitos{
    color: white;
    margin: 0 20px;
}

#redesSociais > img{
    width: 40px;
    margin: 0 20px;
    color: white;
}

